################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FNZABG/.vs/FNZABG/DesignTimeBuild/.dtbcache.v2
